.footer__column-link {
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
  opacity: 1;
  transition: .3s linear;
}

.footer__column-link:hover {
  opacity: .7;
}
