.kaufman__triangle {
  animation: rotation 20s linear infinite;
  background-image: url(../../../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  right: -210px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
}
