.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  background-color: #f2f2f2;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  margin: auto;
  position: relative;
  /* выше установили ограничения для секции */
  align-items: center;
}

.header__title {
  width: 730px;
  margin: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  margin: 0;
  line-height: 25px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  outline: none;
  color: #2f80ed;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  margin: 0;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.logo {
  width: 183px;
  margin: 0;
}

.logo_place_header {
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
}

.two-columns {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  color: #2f80ed;
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin:0 0 30px;
}

.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

.digits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.section-title {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin: 0;
  width: 60%;
  bottom: 60px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

/*.table__text__light_theme:last-of-type {
  margin-bottom: 0;
}*/

.feynman {
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}


.feynman__title {
  margin: 100px 0 70px;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feynman__subtitle {
  margin: 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  width: 100%;
  display: flex;
  padding-top: 90px;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
  color: #f2f2f2;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  right: -210px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
}

.section-title_theme_dark {
  margin: 0 0 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.section-subtitle_theme_dark {
  margin: 0;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table_theme_dark {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 1100px;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;

}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}

.footer {
  background-color: #1f1f1f;
  box-sizing: border-box;
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #f2f2f2;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
  flex-grow: .6;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0 18px;
}

.footer__column-heading {
  margin: 0 0 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}

.footer__column-link {
  padding: 0;
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
}



/* и элемента с модификатором вида ключ-значение
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
} */
